<div class="login-page mt-3">


    <form class="form-sign text-center bg-light rounded" action="/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {{#if message}}
            <div class="alert {{status}} alert-dismissible fade show" role="alert">
                {{{message}}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/if}}

        <div class="mb-3">
            <label for="inputUsername" class="visually-hidden">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus
                   name="username">
        </div>

        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
        <div class="checkbox m-3">
            <label for="rememberMe"></label>
            <!-- keep user in cookie -->
            <input id="rememberMe" type="checkbox" value="checked" name="rememberMe">Remember me

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="m-3"><a href="/signup">Sign up</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; Blog</p>
    </form>


</div>
