<div class="portfolio bg-light mt-3 container">

    <!--  update more user information -->
    <!--  form init  -->
    <form id="infoForm" class="row" action="/edit-portfolio" method="post"></form>
    <form id="avatarUpload" action="/uploadimage" method="post" enctype="multipart/form-data"></form>

    <!--  Main form  -->
    <div class="mb-3">
        <label for="nickname" class="form-label">Nickname</label>
        <input type="text" class="form-control" id="nickname" name="nickName" form="infoForm">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" form="infoForm">
    </div>

    <!-- user can select avatars and upload thier own-->
    <div class="avatars mb-3">

        <p>Please select your preferred avatar:</p>

        <label class="avatars">
            <input type="radio" name="avatar" value="default" checked form="infoForm">
            <img class="user-avatar" src="/images/avatars/default.png" alt="">
        </label>

        <label class="avatars">
            <input type="radio" name="avatar" value="boy" form="infoForm">
            <img class="user-avatar" src="/images/avatars/boy.png" alt="">
        </label>

        <label class="avatars">
            <input type="radio" name="avatar" value="man" form="infoForm">
            <img class="user-avatar" src="/images/avatars/man.png" alt="">
        </label>

        <label class="avatars">
            <input type="radio" name="avatar" value="profile" form="infoForm">
            <img class="user-avatar" src="/images/avatars/profile.png" alt="">
        </label>

        <label class="avatars">
            <input type="radio" name="avatar" value="student" form="infoForm">
            <img class="user-avatar" src="/images/avatars/student.png" alt="">
        </label>


        <label class="avatars">
            <input type="radio" name="avatar" value="student" form="infoForm">
            <img class="user-avatar" src="/images/avatars/{{uploadedAvatar}}" alt="">
        </label>


    </div>

    <!-- subform-->
    <div class="form-group mb-3">
        <label for="avatarFile" class="form-label">Or upload your own avatar</label>
        <input class="form-control" type="file" id="avatarFile" accept=".png,.jpg,.jpeg,.bmp,.gif"
               name="avatarFile" form="avatarUpload" >
        <script>
            document.getElementById("avatarFile").onchange = function () {
                document.getElementById("avatarUpload").submit();
            };
        </script>
    </div>


    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" form="infoForm">Confirm detail</button>
    </div>




</div>
