<div class="post-blog ">


    <!--TODO make picture upload work -->
    <div id="form-container" class="container">
        <form action="/{{edit}}" method="post">

            <div class="row form-group">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" value="{{title}}" name="postTitle">
            </div>


            <div class="row form-group">
                <label for="postContent">Content</label>
                <input name="postContent" type="hidden">
                <div id="editor-container">
                    {{content}}
                </div>
            </div>


            <div class="row">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </form>
    </div>



    <!--     Initialize Quill editor and submit form-->
    <script>
        var editor = new Quill('#editor-container', {
            theme: 'snow'
        });

        var form = document.querySelector("form");
        form.onsubmit = function() {
            var content = document.querySelector('input[name=postContent]');
            content.value = JSON.stringify(editor.getContents());
        };


    </script>


</div>
