<div class="post-blog ">

    <form class="container bg-light mt-3 rounded" action="/{{edit}}" method="post">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" value="{{title}}" name="postTitle">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <div id="toolbar">
                <button class="ql-bold">Bold</button>
                <button class="ql-italic">Italic</button>
            </div>

            <div id="editor" class="form-control" id="content" rows="5" name="postContent">
                <p>{{content}}</p>
            </div>
        </div>

        <!-- Create the toolbar container -->




        <!-- Initialize Quill editor -->
        <script>
            var editor = new Quill('#editor', {
                modules: { toolbar: '#toolbar' },
                theme: 'snow'
            });
        </script>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>
