<div class="post-blog ">


    <!--    TODO -->
    <div id="form-container" class="container">
        <form action="/{{edit}}" method="post">

            <div class="row form-group mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" value="{{title}}" name="postTitle">
            </div>


            <div class="row form-group">
                <label for="about">Content</label>
                <input name="about" type="hidden">
                <div id="editor-container">
                    <p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.</p>
                </div>
            </div>


            <div class="row">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </form>
    </div>



    <!--     Initialize Quill editor-->

    <script>
        var editor = new Quill('#editor-container', {
            theme: 'snow'
        });

        $('#testBtn').on('click',()=>{

            const html = editor.root.innerHTML;

            $('#postContent').val(html);

        })

    </script>


</div>
